* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url(resources/Background_image@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #121826;
}

.container h2,
p {
    padding-left: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #E5E7EB;
}

.first-column:hover {
    box-shadow: 0px 0px 30px red;
    transform: translateY(-15px);
}

.second-column:hover {
    box-shadow: 0px 0px 30px red;
    transform: translateY(-15px);
}

.third-column:hover {
    box-shadow: 0px 0px 30px red;
    transform: translateY(-15px);
}

.first-column p,
.second-column p,
.third-column p {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    font-style: normal;
    color: #D2D5DA;
}

.first-column {
    animation-name: ani;
    animation-duration: 3s;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 490px;
    background-color: #212936;
    border-radius: 20px;
    transition-property: transform;
    transition-duration: .5s;
}

.second-column {
    animation-name: ani2;
    animation-duration: 3s;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 490px;
    background-color: #212936;
    border-radius: 20px;
    transition-property: transform;
    transition-duration: .5s;
}

.third-column {
    animation-name: ani3;
    animation-duration: 3s;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 490px;
    background-color: #212936;
    border-radius: 20px;
    transition-property: transform;
    transition-duration: .5s;
}

@keyframes ani {
    0% {
        transform: translateX(-150%);
    }

    50% {
        transform: translateX(0px);
    }
}

@keyframes ani2 {
    0% {
        transform: translateX(-300%);
    }

    50% {
        transform: translateX(0px);
    }
}

@keyframes ani3 {
    0% {
        transform: translateX(-400%);
    }

    50% {
        transform: translateX(0px);
    }
}

img {
    height: 200px;
    width: 300px;
    border-radius: 20px;
    margin: 20px;
}

.icon1 {
    width: 50px;
    height: 50px;
    margin: 25px;
    border-radius: 50%;
    background-color: #FCEED8;
    font-size: 30px;
    padding-left: 5px;
    padding-top: 5px;
}

.icon2 {
    width: 50px;
    height: 50px;
    margin: 25px;
    border-radius: 50%;
    background-color: #DEE9FC;
    font-size: 30px;
    padding-left: 5px;
}

.icon3 {
    width: 50px;
    height: 50px;
    margin: 25px;
    border-radius: 50%;
    background-color: #FBE5E6;
    font-size: 30px;
    padding-left: 5px;
    padding-top: 5px;
}

.author-info {
    font-size: 14px;
    text-align: center;
    margin-top: 16px;
    color: rgb(55, 65, 81);
}

.author-info a {
    text-decoration: none;
}

.header {
    text-align: center;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2.5rem;
    color: #E5E7EB;
    padding-top: 50px;
    margin-bottom: 20px;

}

.info {
    text-align: center;
    font-size: 1rem;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #9DA3AE;
    margin-bottom: 50px;
}